<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
  <!--  <link href="../../assets/css/bootstrap.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body bgcolor="#F2F2F2">
 <div style="background-color:#c41200";>
<img src='../../../../../assets/images/logo.png' style="background-color:#c41200; /></div>
    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
    </br>
</br>
	
      <div class="container" style="background-color:#F2F2F2" >	
      
     <h3>   Hi {{username}}, here are your coupons! </h3>
        
    <a href="/kaizen/{{username}}/home/" style="text-decoration:none;color:maroon; float:right;"> &#x25c0; &nbsp; Back to Results </a>
 
      <div >
<h2 align="center">Grab your Coupons.....!!!!</h2></div>
    
        <br>
     <table  frame="box" class="table table-hover" style="font-family:calibri;padding: 3px 15px;margin: 0 auto; width: 700px;">
      <thead>
      <tr>
      
      <th ></th>
      <br/><br/><br/>
      </tr>	
      </thead>
      <tbody>
      
      
	{{#couponlist}}
	 <tr class="item">
	 <td style="width: 15%; font-weight:bold""> Deal name: <br/>
	 Deal Source: <br/>
	 Deal Image: <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	 Deal Link: <br/></td>
	<td></td><td > {{dealName}} <br/>
	 {{dealSource}} <br/>
	<img src={{dealImage}}  width="200" height="200"> <br/>
	<a href ={{dealLink}} > {{dealLink}}</a> <br/>
	
	 </td>

	 </tr>
	 {{/couponlist}}

	 </table>
	 </div>
    </div>

			 
					
					
    <div class="container">
      <!-- Example row of columns -->
     

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	 <script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type = "text/javascript">
	$(":button").click(function(){
		var button_pressed=$(this).attr("name");
		var pathArray=window.location.pathname.split('/');
		var user=pathArray[2];
		var business_id = pathArray[3];
		var tableData = document.getElementById('business');
		var rowLength = tableData.rows.length;
		for (i = 1; i < rowLength; i++){
		var oCells = tableData.rows.item(i).cells;
		var items = oCells.item(1).innerHTML;
		
		}
		var cat = items.split('<br>');
		var cat1 = cat[3].replace('[ "',"");
		var category = cat1.replace('"]',"");
		var zip1 = cat[2];
		var length = cat[2].length;
		
		
		var zip = zip1.slice(-6);
		
		if(button_pressed == "subscribe"){
		window.location = '/kaizen/'+user+'/'+business_id+'/subscribe';
		}
		else if (button_pressed == "coupon")
		{
			alert(zip);
			window.location = '/kaizen/coupons/'+user+'/'+category+'/'+zip;
		}
		});
	
	function signOut(){
		
		var pathArray=window.location.pathname.split('/');
		var user=pathArray[2];
		var bid=pathArray[3];
		
		$.ajax({
		  type: 'POST',
		  
		  url: '/kaizen/'+user+'/'+bid+'/signout',
		  success: function() {
			  	window.location = '/kaizen/';
			  },
			error:function(xhr, statusText){
							if (xhr.status == 200)
							{
								window.location = '/kaizen/';
							}
			}  
		});
		
	 	
	}
	</script>
	</body>
</html>
