<html>

 <link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">

<div class="" id="loginModal">
	<div class="modal-header">
		<h3>The Kaizen Yelp</h3>
		<h4 align = "right">Welcome</h4>
		<div>{{username}}</div>
	</div>
		<script type="text/javascript">
			var url = window.location.href;
			var username = url.split('/')[4];
			alert(username);
		</script>	
		<h4 align = "right">Welcome
		<script type="text/javascript">document.write(username);</script>
	</h4>	</div>
	<div class="modal-body">
		<div class="well">
			<nav>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#login" data-toggle="tab">Home</a></li>
				<li><a href="#about" data-toggle="tab">About Me</a></li>
				<li><a href="#writeReview" data-toggle="tab">Write Review</a></li>
				<li><a href="#Search" data-toggle="tab">Search</a></li>


			</ul>
		</nav>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active in">
						<fieldset>
							   
							<div class="control-group">
								<label class="control-label"  for="search">Search for..</label>
								<div class="controls">
									<input type="text" id="search" name="search" placeholder="" class="input-xlarge">
								</div>
							</div>
							
							
							<div class="control-group" id="find">
								<!-- Button -->
								<div class="controls" id="find">
								<input type="button" onclick="home.js" id="find">Find</input>
								<!--	<button class="btn btn-success" action="home.js">Find</button> -->
								</div>
							</div>
						</fieldset>
				</div>
				
			</div>
		</div>
	</div>
 <script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="../assets/js/home.js"></script>
    </body>
</html>