<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" method="POST"  id="login">
            <div class="form-group">
              <input type="text" id="username" name= "username" placeholder="Username" class="form-control" required>
            </div>
            <div class="form-group">
              <input type="password" id="password" name="password" placeholder="Password" class="form-control" required style="margin-left: 5px;">
            </div>
            <input type="submit" name="submit" value="Sign in" class="btn btn-success"/> 
			
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
    </br>
</br>

      <div class="container">	
      <div class="leftcontent">
              <h1>Welcome to Yelp 2.0</h1>
        <p>Find all the information about businesses around you with extensive Kaizen Yelp search which provides:</p>
        <ul>
       <li> Location of the business on Google map.</li>
	   <li>Create your own profile to get Recommendations.</li>
		<li>Look for the reviews about a business.</li>
        <li>Post your reviews for a business.</li>
		<li> Block a business in your profile if you hate a business.</li>
		<li>Subscribe for a business to get email notifications about new reviews.</li>
		<li>Get exciting discount coupons for businesses.</li>
     </ul>
      </div>
       <div class="rightcontent">
       <h2> <strong>Sign Up</strong> </h2>
      
       <h3> We would like to connect with you</h3>
       <form id="register" class="navbar-form navbar-right" method="POST" >
						 <div class="registration">
						<input type="text" name="registername" placeholder="Username" required>
						</div><br/>
						 <div class="registration">
						<input type="password" name="pass" placeholder="Password" required>
						</div><br/>
						 <div class="registration">
						<input type="text" name="email" placeholder="Email" required>
						</div><br/>
						
						<input type="submit" value="Create Account" class="btn btn-success" style="margin-left:-1px;"/>
						
					</form>
					 <br/>
      </div>
     
      </div>
	 
    </div>

			 
					
					
    <div class="container">
      <!-- Example row of columns -->
     

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	 <script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="../assets/js/app.js"></script>
  </body>
</html>
